header{

  text-align:center;

 .homeBox{
  a{
   text-align:center;
   background:gray;
 }
}
}

.container{
 display:block;
 width:100%;

   .pageOne{

    width:100%;

     li{
      display:inline-block;
      width:33%;

     }
     img{
      width:100%;
      height:350px;
     }
     img:hover{
      box-shadow:10px 10px 5px gray;
      cursor:pointer;
     }
   }
   .sportPage {

    width:100%;

     li{
      display:inline-block;
      width:33%;
     }
     img{
      width:250px;
      height:300px;
     }
     img:hover{
      box-shadow:10px 10px 5px gray;
      cursor:pointer;
     }
   }
   .comedyPage {

    width:100%;

     li{
      display:inline-block;
      width:33%;
     }
     img{
      width:250px;
      height:300px;
     }
     img:hover{
      box-shadow:10px 10px 5px gray;
      cursor:pointer;
     }
   }
   .dogPage{

    width:100%;

     li{
      display:inline-block;
      width:33%;
     }
     img{
      width:250px;
      height:300px;
     }
     img:hover{
      box-shadow:10px 10px 5px gray;
      cursor:pointer;
     }
   }
}

.pageOne, .sportPage, .comedyPage, .dogPage {
 display:none;
}

.sportPage, .comedyPage, .dogPage{
 .showImage {
   img{ height:450px;
    width:350px;
}
  }
  .hidden img{
   display:none;
  }
}
.currentPage {
 display:inline-block;
}
